.group-marker-description {
    min-width: 300px;
    min-height: 180px;
    padding: 0.5rem;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}


.group-marker-description h1 {
    padding-bottom: 0.4rem;
    margin-top: 0;
    border-bottom: 1px solid rgb(122, 122, 122);
}

.group-marker-description main {
    flex-grow: 1;
}

.group-marker-description footer {
    display: flex;
    justify-content: space-between;
}

.group-marker-description footer .buttons-container{
    display: flex;
    max-width: 110px;
    flex-grow: 1;
    /* overflow: hidden; */
}

.group-marker-description .group-btn {
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: fit-content;

    display: flex;
    align-items: center;

    background-color: #20ab48;
    padding: 0.5rem;
    border-radius: 3px;
    transition: background .3s;
}

.group-marker-description .group-btn:hover,
.group-marker-description .group-btn:active {
    background-color: #1d8f3d;
}

.group-marker-description .group-btn svg {
    margin-right: 0.4rem;
}


.group-marker-description .edit-group-btn {
    background-color: #24a1c7;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    flex-grow: 1;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

    padding: 0.3rem;

    transition: background .2s;
}

.group-marker-description .edit-group-btn svg{
    width: 1.4rem;
    height: 1.4rem;
}

.group-marker-description .edit-group-btn .name{
    font-size: 0.75rem;
    margin: 0.5rem  0 0.2rem 0;
}


.group-marker-description .edit-group-btn:hover,
.group-marker-description .edit-group-btn:active {
    background-color: #4ecff7;
}


.group-marker-description .edit-group-btn.delete-group-btn{
    background-color: #c01313;
    margin-left: 0.75rem;

}

.group-marker-description .edit-group-btn.delete-group-btn:hover,
.group-marker-description .edit-group-btn.delete-group-btn:active {
    background-color: #ff9b9b;
}


.gm-ui-hover-effect {
    top: 0px !important;
    right: 5px !important;
}

.gm-ui-hover-effect img {
    width: 20px !important;
    height: 20px !important;
}